*,*:before,*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

:root {
    --secondary: rgba(25, 79, 196, 1);
    --accent : rgba(255, 188, 54, 1);
    --background-light: rgba(237, 234, 230, 1);
    --text-dark : rgba(0, 0, 0, 1);
    --text-light:  rgba(237, 234, 230, 1);
    --light-accent : rgba(253, 252, 237, 1);
}

body {
  background-color: var(--background-light);
}

.align-end {
  text-align: right;
}

.fit {
  width: fit-content !important;
  margin-left:auto !important;
}
@media (max-width: 480px) {
  .fit {
    margin: 0 auto !important;
  }
}
